body{margin:0; 
    padding:0;
    color: black;
    background-color: #94d0e878; 
    
    
}
/* style for the navbar, use position:fixed if you want the navbar to stay as you scroll in the future*/
nav{background-color: #3e2033;
    margin-bottom: 0;
    } 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

 li {float:right;}  

 li  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:underline;
  } 
  a {color:whitesmoke;}


 li :hover {
    background-color: #111;
  }
  

/* style for the heading*/
h1{color: #eee;
    font-size:28px; 
    text-align: center; 
    margin:0;
    padding:10px;
}   

/* style for chapter/ heading 2*/
h2{font-size: 24px; 
    float: left;
    font-family: fantasy;
    margin-left: 350px;
}

/* style for the image*/
#bioimage{ 
    width: 1470px;
    height:400px ;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
       
}    

#mainbio{ margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10;
    
} 
/*style for portfolio image links*/
.showoff{
    width: 200px;
    height: 200px;
    display: inline;
    margin: 10px;
    padding:5px;

}

#contactinfo{
    line-height: 1.5;
    display: inline;
}



.flexbox {
    padding:0;
    margin:5px; 
    color: black;
    text-align:end;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.flexbox mainbio{
    padding: 0;
}

   
.flex {
    display: flex; 
    padding: 0; 
    margin: 0;
}

#column {
    flex-direction: column;
}

/*media queries*/
@media screen and (min-width: 481px) and (max-width:480px) {
    body {
      background-color: grey;
    }
  }

  @media screen and (min-width: 320px) and (max-width:768px) {
    body {
      background-color: #f97a7a;
    }
  }

  @media screen and (min-width: 769px) and (max-width:1024px) {
    body {
      background-color: #92ce92;
    }
  }

  @media screen and (min-width: 1025px) and (max-width:1200px) {
    body {
      background-color: #f5e170;
    }
  }

  @media screen and (min-width: 1201px) and (orientation:landscape) {
    body {
      background-color: #cbb2f3;
    }
  }