body{background-color: bisque;
margin: 0;
padding: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
form{margin: 20px 20px;}


#name{width: 100%;
    padding: 12px 20px;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:400px;
    height:10px;
    

}
#email{width: 100%;
    padding: 12px 20px;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:400px;
    height:10px;
}

#message{width: 100%;
    padding: 12px 20px;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:400px;
    height:250px;
}

